.color-lightred {
  color: hsl(0, 100%, 67%);
}

.color-orangeyYellow {
  color: hsl(39, 100%, 56%);
}

.color-greenTeal {
  color: hsl(166, 100%, 37%);
}

.color-cobaltBlue {
  color: hsl(234, 85%, 45%);
}

.bg-lightred {
  background-color: rgba(255, 87, 87, 0.05);
}

.bg-orangeyYellow {
  background-color: rgba(255, 176, 31, 0.05);
}

.bg-greenTeal {
  background-color: rgba(0, 189, 145, 0.05);
}

.bg-cobaltBlue {
  background-color: rgba(17, 37, 212, 0.05);
}

.opacity-50 {
  opacity: 0.5;
}

.opacity-10 {
  opacity: 0.1;
}

.opacity-5 {
  opacity: 0.05;
}

@font-face {
  font-family: "Hanken Grotesk";
  src: url("/assets/fonts/static/HankenGrotesk-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Hanken Grotesk";
  src: url("/assets/fonts/static/HankenGrotesk-ExtraBold.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Hanken Grotesk";
  src: url("/assets/fonts/static/HankenGrotesk-Bold.ttf");
  font-weight: 800;
  font-style: normal;
}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 1.125rem;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  text-decoration: 0;
}

p {
  margin: 0;
  padding: 0;
  line-height: 1.25;
}

main {
  display: flex;
  flex-direction: column;
}
@media (min-width: 60em) {
  main {
    flex-direction: row;
    margin: auto;
    margin-top: max(1vh, 10rem);
    width: 46rem;
    height: 32rem;
    border-radius: 2rem;
    box-shadow: 0 1rem 2rem 0rem hsla(241, 81%, 54%, 0.1);
  }
}

.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  min-height: 22.25rem;
  border-radius: 0 0 2rem 2rem;
}
@media (min-width: 60em) {
  .result {
    border-radius: 2rem;
    width: 23rem;
  }
}
.result-header {
  color: hsl(241, 100%, 89%);
  font-size: 1.125rem;
  font-weight: 800;
  margin-top: 1.5rem;
}
@media (min-width: 60em) {
  .result-header {
    margin-top: 2.875rem;
  }
}
.result-circle {
  width: 8.75rem;
  height: 8.75rem;
  border-radius: 4.375rem;
  margin-top: 1.75rem;
  background: linear-gradient(to bottom, hsl(256, 72%, 46%), hsla(241, 72%, 46%, 0));
  text-align: center;
}
@media (min-width: 60em) {
  .result-circle {
    margin-top: 2.625rem;
    width: 12.5rem;
    height: 12.5rem;
    border-radius: 6.25rem;
  }
}
.result-circle-score {
  color: hsl(0, 0%, 100%);
  font-size: 3.5rem;
  margin-top: 1.625rem;
  margin-inline: auto;
}
@media (min-width: 60em) {
  .result-circle-score {
    font-size: 4.5rem;
    margin-top: 3rem;
  }
}
.result-circle-max-score {
  color: hsl(241, 100%, 89%);
  font-size: 1.125rem;
  margin-inline: auto;
}
.result-grade {
  margin-top: 1.5625rem;
  font-size: 1.5rem;
  color: hsl(0, 0%, 100%);
}
@media (min-width: 60em) {
  .result-grade {
    margin-top: 2rem;
    font-size: 2rem;
  }
}
.result-description {
  margin-top: 1rem;
  font-size: 1rem;
  color: hsl(241, 100%, 89%);
  margin-inline: 2.5rem;
  text-align: center;
}

.summary {
  display: flex;
  flex-direction: column;
  margin-top: 1.875rem;
  margin-inline: 2rem;
  align-content: center;
}
@media (min-width: 60em) {
  .summary {
    margin-left: 2.625rem;
    margin-right: 2.4375rem;
  }
}
.summary-header {
  font-size: 1.125rem;
  font-weight: 800;
  color: hsl(224, 30%, 27%);
  margin-bottom: 0.3125rem;
}
@media (min-width: 60em) {
  .summary-header {
    font-size: 1.5rem;
  }
}
.summary-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 15rem;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  margin-top: 1.25rem;
}
@media (min-width: 60em) {
  .summary-item {
    width: 17.875rem;
    font-size: 1.125rem;
  }
}
.summary-item-title {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  align-items: flex-start;
}
.summary-item-score {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 0.5rem;
  color: hsl(224, 30%, 27%);
}
.summary-button {
  background-color: hsl(224, 30%, 27%);
  color: hsl(221, 100%, 96%);
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  padding: 1rem;
  border-radius: 50ch;
  text-align: center;
  min-width: 15rem;
}
.summary-button:hover {
  background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-inline: auto;
  bottom: 1rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-height: 53.125rem) {
  .attribution {
    bottom: auto;
    margin-top: 4rem;
  }
}

.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: underline;
}

/*# sourceMappingURL=style.css.map */
